# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# Maven build output
target/
**/target/
generated-sources/
generated-test-sources/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/

# macOS
.DS_Store

# Environment files
.env

# Temporary files
tmp/
out/
*.swp

# Other
logs/
npm-debug.log*

# Service / IDE / build tool artifacts
.mvn/wrapper/maven-wrapper.jar
.apt_generated
.factorypath
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/.nb-gradle/
build/